.box-layout {
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout--read {
  @extend .box-layout;
  background: pink;
  flex-direction: column;
}

.box-layout--readable-post__title {
  margin-bottom: 40px;
}

.box-layout--readable-post {
  width: 100%;
  margin: 40px 0 0 40px;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
